[Unit]
Description=Lynniphone Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi
#Environment="ENV_VAR_NEEDED=value"
#ExecStartPre=/bin/bash -c `/usr/bin/env`
ExecStart=/usr/bin/python3 /home/pi/lynniphone/src/init/init.py

[Install]
WantedBy=multi-user.target