[Unit]
Description=Lynniphone Service
After=multi-user.target

[Service]
Type=idle
User=pi
Environment=DISPLAY=:0
ExecStart=/home/pi/lynniphone/src/init/init.sh

[Install]
WantedBy=multi-user.target
